/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.04.2018, 20:36:52
    Author     : justi
*/

h1, h2, h3, h4, h5, ul, ol, li {
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    color:  #0066cc
}
h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 25px;
    text-align: center;
}
h3 {
    font-size: 20px;
    text-align: center;
}
nav ol  {
    margin: 10px;
    float: top;
    border: solid blue;
    border-radius: 10px;
}
nav li {
    border: solid blue;
    border-radius: 10px;
    float: top;
}
